# Masquer le node modules
node_modules/

# Masquer dotenv : les  variables d'environements
.env

# Logs
logs/
*.log
npm-debug.log*


# Masquer les images
images/

#Masquer la structure de la base de donnee: 
base_de_donnees.sql
